<div class="dj-queue border d-flex justify-content-between align-items-center" style="height: 60px;">
  <div class="d-flex">
    <% djs.each do |dj| %>
        <% if dj.avatar? %>
          <%= cl_image_tag dj.avatar.key, crop: :fill, class: "avatar rounded-circle p-0 d-flex align-items-center justify-content-center mx-2", style: "position: relative; width: 60px; height: 60px; border: 2px solid #1DB954;", title: dj.name %>
        <% else %>
       <div class="d-flex align-items-center justify-content-center mx-2 position-relative rounded-circle" style="width: 60px; height: 60px; border: 2px solid #1DB954;">

  <span class="text-uppercase font-weight-bold position-absolute" style="font-size: 24px; color: #1DB954; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <%= dj.name[0] %><%= dj.name[1] %>
  </span>
</div>

        <% end %>
    <% end %>
  </div>

  <% if @user.in?(@djs) %>
    <%= button_to "Step Down", room_rooms_user_path(room), method: :delete, class: "btn btn-stepdown" %>
  <% else %>
    <%= button_to "Step Up", "/rooms/#{room.id}/rooms_users", method: :post, class: "btn" %>
  <% end %>

</div>
