<div class="playlist-container col-3" style="height: 100%;">
  <%= form_tag search_tracks_path, method: :post do %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
  <% end %>

  <% if @tracks %>
    <% @tracks.each do |track| %>
      <div class="track">
        <h3><%= track.name %> by <%= track.artists.first.name %></h3>
        <iframe class="spotify-player" src="https://open.spotify.com/embed/track/<%= track.id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    <% end %>
  <% end %>
</div>
