<a href="<%= local_assigns[:link] || '#' %>" class="custom-card">
  <div class="card custom-rounded">
    <% if local_assigns[:image] %>
      <div class="image-container">
        <img src="<%= local_assigns[:image] %>" class="card-img-top image-rounded-top" alt="...">
        <!-- Name over the image -->
        <div class="overlay-title">
          <%= local_assigns[:title] %>
        </div>
      </div>
    <% end %>
    <div class="card-body">
      <p class="card-tag"><%= local_assigns[:tag] %></p>
      <p class="card-description"><%= local_assigns[:description] %></p>
    </div>
  </div>
</a>
