<%= link_to (local_assigns[:link] || '#'), class: 'stretched-link', style: 'display: block; text-decoration: none; color: inherit;' do %>
  <div class="card mb-4 shadow-sm custom-rounded" style="<%= local_assigns[:style] %>">
    <% if local_assigns[:image] %>
      <img src="<%= local_assigns[:image] %>" class="card-img-top image-rounded-top" alt="...">
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= local_assigns[:title] %></h5>
      <p class="card-tag"><%= local_assigns[:tag] %></p>
      <p class="card-description"><%= local_assigns[:description] %></p>
    </div>
  </div>
<% end %>
