<div class="row">
  <% @rooms.each do |room| %>
     <div class="col-md-3">
      <%= render 'shared/card',
          title: room.name,
          tag: room.tag,
          description: room.description,
          image: room.image_url,
          link: room_path(room.id) %>
    </div>
  <% end %>
</div>

<div class="container-fluid bg-dark">
  <div class="d-flex justify-content-center text-white pt-2">
    <h1>Rooms</h1>
  </div>
  <div class="navbar navbar-expand-sm container-fluid text-white">
    <ul class="d-flex justify-content-center mx-auto mb-2 mb-sm-0 text-center list-unstyled">
      <li class="nav-item mx-5">
        <%= link_to raw('<i class="fa-solid fa-bars"></i>') + " All Rooms", "#", class: "nav-link" %>
      </li>
      <li class="nav-item mx-5">
        <%= link_to raw('<i class="fa-regular fa-user"></i>') + " My Room", "#", class: "nav-link" %>
      </li>
      <li class="nav-item mx-5">
        <%= link_to raw('<i class="fa-regular fa-heart"></i>') + " Favorites", "#", class: "nav-link" %>
      </li>
      <li class="nav-item mx-5">
        <%= link_to raw('<i class="fa-solid fa-magnifying-glass"></i>') + " Search", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>

  <div class="container pt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <% (1..8).each do |index| %>
        <div class="col">
          <div class="card">
            <img src="" class="card-img-top" alt="Image">
            <div class="card-body">
              <p class="card-text">Users</p>
              <p class="card-text">Genre</p>
              <p class="card-text">Max DJs</p>
              <a href="#" class="btn btn-success rounded-pill">Enter room</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
