<div class="devise-form">
<h2 class= "my-4">New Room</h2>
  <%= simple_form_for @room do |f| %>
    <%= f.input :name, label: 'Room Name' %>
    <%= f.input :max_djs, label: 'Maximum DJs' %>
    <%= f.input :description, label: 'Genre' %>
    <%= f.submit "Submit", class: "btn text-white px-3 py-2" %>
  <% end %>
</div>
