<div class="container-fluid d-flex m-0 p-0" style="height: calc(100vh - 70px);">

  <!-- playlist container -->
  <div class="playlist-container" style="width: 400px; background-color: #000000; border-radius: 5px;">
    <div>
      <ul class="tabs">
        <li data-tab-target="#queue" class="active tab">Queue</li>
        <li data-tab-target="#search" class="tab">Search</li>
      </ul>
    </div>
    <div data-controller="search queue" class="tab-content">
      <div id="queue" data-tab-content class="active">
        <div data-search-target="">
          <p>Songs in the queue:</p>
            <% @queued_songs.each do |song| %>
            <ul data-queue-target="list">
              <li><%= "#{song.name} by #{song.artists[0].name}" %></li>
            </ul>
            <% end %>
        </div>

      </div>
      <div id="search" data-tab-content>
        <div class="search-bar">
          <i class="fas fa-search search-icon"></i>
          <%= form_tag search_tracks_path, method: :post, data: { search_target: "form", action: "submit->search#search" }  do %>
            <%= text_field_tag :query, nil, placeholder: "search and add songs to your queue", class: "search-input", style: "width: 200px; color: #1DB954;" %>
            <%= hidden_field_tag :room_id, @room.id %>
          <% end %>
        </div>
        <div data-search-target="tracks"></div>
      </div>
    </div>
  </div>

  <!-- right panel container -->
  <div class="right-panel d-flex flex-grow flex-column" style="width: 100%;">
    <!-- player and list of currently active djs -->
    <div class="player-and-djs-container">


 <div data-controller="search" class="tab-content">
      <div id="queue" data-tab-content class="active">
        <div data-search-target=""></div> <!-- queued tracks go here -->
      </div>
      <div id="search" data-tab-content>
        <div>
          <%= form_tag search_tracks_path, method: :post, data: { search_target: "form", action: "submit->search#search" }  do %>
            <%= text_field_tag :query, nil, placeholder: "search and add songs to your queue", style: "width: 400px" %>
            <%= hidden_field_tag :room_id, @room.id %>
          <% end %>
        </div>
        <div data-search-target="tracks"></div>
      </div>
    </div>



    <div class="player p-1">
      <div data-controller="spotify-player" id="spotify-player"></div>
    </div>

      <%= render "room/djqueue", djs: @djs, room: @room %>
    </div>

    <!-- chat and chat member list -->
    <div class="chat-container d-flex" style="height: 100%;">
      <div class="chatbox col-9" style="height: 100%">
        <div class="messages-container" data-controller="room-subscription" data-room-subscription-room-id-value="<%= @room.id %>">
          <div class="messages" data-room-subscription-target="messages">
            <!-- messages field -->
            <% @messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
        </div>

        <!-- message input field -->
        <div class="message-input-field" data-controller="room-subscription">
          <%= simple_form_for [@room, @message], html: { data: { action: "turbo:submit-end->room-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <div class="message-input-container">
              <%= f.input :content,
                  label: false,
                  placeholder: "Message ##{@room.name}",
                  wrapper_html: {class: "flex-grow-1"}
              %>
              <% f.submit "Send", class: "btn btn-primary mb-3" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container chatlist">
        <% @room.rooms_users.each do |room_user| %>
          <ul style="list-style-type: none; padding-left: 0; margin-bottom: 0;">
            <li><%= room_user.user.name.split.first %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
